body{
    background-color: aquamarine;
    font-family: cursive;
    font-size: 18px;

}

button{
    background-color: blue;
    border-radius: 60%;
    color: dimgray;
    color: ghostwhite;
    padding: 14px;
}

Table, th, td{
    border: 1px solid black;
}